fastapi
uvicorn[standard]
streamlit
requests
boto3
botocore
python-dotenv
sqlalchemy
psycopg2-binary
langchain
langchain-core
langgraph
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
transformers
torch
pydantic
pydantic-settings
langchain-text-splitters
langchain-community
pymupdf
camelot-py
pytesseract
Pillow
opencv-python
ghostscript
easyocr
langchain-mistralai
langchain-openai
langchain-qdrant
qdrant-client